body {
  background: #34675c;
  font-family: "Inter", sans-serif;
}

.app-all {
  background: #cce4d3;
  max-width: 700px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
}

.app-logo {
  max-width: 25%;
  margin: 0 auto;
  display: block;
  padding-bottom: 15px;
}

.search-form-input {
  background-color: #e5f2e9;
  border: none;
  color: #84a59b;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  width: 70%;
}

.search-form-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #34675c;
  color: #e8f7ee;
  border: none;
  padding: 15px;
  border-radius: 10px;
  width: 24%;
}

.main-text {
  background: #e0efe5;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.current-weather {
  padding-left: 25%;
}

.forecast {
  padding-right: 5%;
}

.footer {
  text-align: center;
}

a {
  color: #84a59b;
}
