body {
  background: #34675c;
  font-family: "Inter", sans-serif;
}

.app-all {
  background: #cce4d3;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
}

.app-logo {
  max-width: 25%;
  margin: 0 auto;
  display: block;
  padding-bottom: 15px;
}

.search-form-input {
  background-color: #e5f2e9;
  border: none;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  width: 68%;
}

.search-form-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #34675c;
  color: #e8f7ee;
  border: none;
  padding: 15px;
  border-radius: 10px;
  width: 25%;
}

.main-text {
  background: #e0efe5;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.current-weather {
  margin: 0 auto;
  display: block;
}

.icon {
  font-size: 50px;
}

.icon-img {
  width: 75px;
  height: 75px;
}

.current-details {
  text-align: center;
  margin-top: 0%;
  font-size: 15px;
  font-weight: 300;
}

.spacing {
  line-height: 30px;
}
.current-temp {
  font-size: 30px;
  font-weight: bold;
}

.forecast {
  padding: 10px 60px 10px 0px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 15px;
}

.min-temp {
  color: #34675c;
}

strong {
  color: #e5572a;
}

h1 {
  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: 0%;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  padding: 15px 0px;
}

a {
  color: #34675c;
}
